.faq {
}

.faq .flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.input-group input {
  margin-right: 10px;
  padding: 10px 5px;
  width: 250px;
  border-radius: 5px;
  outline: none;
  border: 1px solid rgba(112, 112, 122, 0.2);
}

.input-group input::placeholder {
  font-style: italic;
}

.input-group button {
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-size: 14px;
  padding: 10px;
  text-transform: uppercase;
  min-width: 80px;
  box-shadow: none;
  background-color: #0168b4;
  color: #fff;
}

.input-group button i {
  margin-right: 10px;
}

.faq .fa-plus-circle {
  margin-right: 10px;
}

.faq .table-icons {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.faq .fa-edit {
  color: #0168b4;
}

.faq .fa-trash {
  color: #dc3545;
}

table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

.table {
  width: 100%;
  margin-bottom: 20px;
}

.table th,
.table td {
  font-weight: normal;
  font-size: 12px;
  padding: 10px;
  line-height: 20px;
  vertical-align: middle;
  border-top: 1px solid #dddddd;
}
.table thead th {
  background: #0168b4;
  text-align: left;
  vertical-align: bottom;
  color: #fff;
  border-left: 1px solid #fff;
}

.table-responsive thead.mobile,
.table-responsive td.mobile {
  display: none;
}

@media (max-width: 767px) {
  .faq .flex-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  .faq h1 {
    margin-bottom: 20px;
    font-size: 22px;
  }

  .input-group input {
    width: 160px;
  }

  .table-responsive thead:not(.mobile) {
    display: none;
  }

  .table-responsive thead.mobile,
  .table-responsive td.mobile {
    display: table-header-group;
  }
  .table-responsive tr {
    border-bottom: 1px solid #dddddd;
  }
  .table-responsive td {
    border: 0;
  }
  .table-responsive td:not(:first-child) {
    display: block;
    text-align: center;
  }

  .faq .fa-plus-circle {
    color: #0168b4;
  }
}
