* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

nav,
.faq,
.botoes {
  font-family: "Roboto", sans-serif;
}

.fa {
  color: #fff;
}

.container > nav,
.container > section {
  padding: 0px 20px;
  margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .container > nav,
  .container > section {
    padding: 10px 20px;
    margin-bottom: 0px;
  }
}
